*{
    box-sizing: border-box;
}
body{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}
header{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}
.subheader{
    font-style: italic;
    font-size: medium;
    width: 100%;
    color: chocolate;
}
main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}
.card{
    background-color:lightgray;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
}
h1{
    width: 100%;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: lightgray;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 20px;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: chocolate;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    border-bottom: solid;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:chocolate;
    color: white;
  }
  .logoImage{
    width: 250px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  button{
    background-color: chocolate;
    margin-bottom: 2%;
    font-size: 15px;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
  }
  button:hover{
    background-color: bisque;
    color: darkgray;
    cursor: grab;

  }
.shoppingCart{
  width: 1000px;
}
li{
  list-style-type: none;
  font-style: italic;

}
#cart-items{
  padding: 0;
}
/* Light mode styles (default) */
body {
  background-color: #fff;
  color: #000;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}
p{
  font-weight: bold;
}
#dark-mode-switch{
  background-color:lightgray;
  padding: 5px;
  border-radius: 25px;
  font-weight: bold;
}