*{
    box-sizing: border-box;
}
body{
    padding-left: 50px;
    padding-right: 50px;
}
header{
    display: flex;
    flex-wrap: wrap;
}
.logoAndName{
    width:fit-content;
}
h2{
    width: 100%;
    text-align: justify;
}
main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}
.card{
    background-color: beige;
    width: fit-content;
    margin: 5%;
}
.logo{
    width: auto;
    height: 100px;
}